@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("componets/assets/images/bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover; /** TODO responsive background edit*/
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #f5f5f5;
}

.holder {
  background-color: rgba(0, 0, 0, 0.63);
  z-index: 1;
}
